h2 {
  color: teal;
  background-color: plum;
  /* h2 is a block level element : it goes all the across  */
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  background: orange;
}
