/* justify content : how the content is distributed across the main axis */

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
#container {
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* justify-content: flex-end;
  justify-content: center;
  justify-content: space-between; /*not for outside of edge*/
  /* justify-content: space-around;
  justify-content: space-evenly;  */
  /* 
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-evenly; */
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
}

#container div {
  width: 200px;
  height: 200px;
}
