/* flex-wrap : determine whether the elements are going to
wrap along the main axis onto new line or new column if main axis is
vertical */

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
#container {
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap-reverse; /*wrap reverse: affect to cross axis*/

  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
}

#container div {
  width: 400px;
  height: 200px;
}
