/* align items : distribute items along the cross axis */

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
#container {
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  /* it's going to use a baseline of the text to align element*/
  /* align-items: baseline;  */
  align-items: flex-end;
  flex-wrap: wrap-reverse;

  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

#container div {
  width: 200px;
  height: 200px;
  /* font-size: 50px; */
  /* text-align: center; */
}
