/* these three are for individual items */
/* flex-basis : define the initial size of the element before additional space is distributed */
/* flex-grow : controls the amount of available space an element should take up */
/* flex-shrink : if the items are larger than container, they shrink according to flex shrink */

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
#container {
  background-color: #003049;
  width: 90%;
  /* height: 200px; */
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}

#container div {
  width: 100px;
  height: 100px;
  flex-basis: 600px;
  flex-grow: 1; /*once the size is less than 200px, flex-wrap turn on*/
}

div:nth-of-type(1) {
  flex-grow: 1;
  flex-shrink: 2;
}
div:nth-of-type(5) {
  flex-grow: 2;
  flex-shrink: 0;
}
