body {
  font-family: "Roboto", sans-serif;
  background-color: #151b29;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid #ffa260;
  padding: 1em 2em;
  font-size: 1em;
  transition: transform 0.25s, color 0.25s, border-color 0.25s, box-shadow 0.25s;
}

button:hover {
  border-color: #f1f15c;
  color: #fff;
  box-shadow: 0 0.5em 0.5em -0.4em #f1f15c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
