/* descendant selector : using a space*/
/* no matter it's whether direct descendant or not */
/* 
select all a tag nested or descendant of li tag
li a {
    property:value;
}
*/
/* important : comma - li and a // space- a inside of li */

section span a {
  color: red;
}

.post a {
  color: red;
}

footer a {
  color: orange;
}
